<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Pegawai</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#submit").click(function (e) {
                if ($('#instansi').val() == '') {
                    e.preventDefault();
                    swal ( "Tidak dapat menambahkan pegawai",  "Anda belum memilih instansi",  "error");
                }
            });

        });
    </script>

</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="col-5">
        <h3>Tambah Pegawai</h3>
        <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
            <input type="hidden" th:value="${pegawai.nip}"></input>
                <div class="form-group row">
                    <label for="nama" class="col-sm-3 col-form-label-md">Nama</label>
                    <div class="col-sm-9">
                        <input required type="text" name="nama" class="form-control" id="nama" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tempatLahir" class="col-sm-3 col-form-label-md">Tempat Lahir</label>
                    <div class="col-sm-9">
                        <input required type="text" name="tempatLahir" class="form-control" id="tempatLahir" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggalLahir" class="col-sm-3 col-form-label-md">Tanggal Lahir</label>
                    <div class="col-sm-9">
                        <input required type="date" name="tanggalLahir" class="form-control" id="tanggalLahir" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tahunMasuk" class="col-sm-3 col-form-label-md">Tahun Masuk</label>
                        <div class="col-sm-9">
                            <input required type="number" name="tahunMasuk" class="form-control" id="tahunMasuk" value="1980"/>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="provinsi" class="col-sm-3 col-form-label-md">Provinsi</label>
                        <div class="col-sm-9">
                            <select required name="provinsi" id="provinsi" class="form-control">
                                <option
                                    th:each="provinsi,iterationStatus: ${listProvinsi}"
                                    th:text="${provinsi.nama}" th:value="${provinsi.id}"></option>
                            <option selected hidden="true">--- Pilih Provinsi ---</option>
                            </select>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="instansi" class="col-sm-3 col-form-label-md">Nama Instansi</label>
                        <div class="col-sm-9" id = "dropdownInstansi">
                            <select required name="instansi" id="instansi" class="form-control">
                                <option  th:each="instansi, iterationStatus:${listInstansi}"
                                 th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" th:value="${instansi.id}">Pilih Instansi</option>
                            <option selected hidden="true" value=''>--- Pilih Instansi ---</option>
                            </select>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="jabatan" class="col-sm-3 col-form-label-md">Jabatan</label>
                        <div class="col-sm-9">
                            <div th:each="aJabatan,iterationStatus : *{listJabatan}">
                                <select id='jabatan' required th:field="*{listJabatan[__${iterationStatus.index}__]}" class="form-control">
                                    <option
                                    th:each="jabatan,iterationStat: ${listJabatan}"
                                    th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
                                </select>
                                <br>
                            </div>
                            <button class="btn btn-link btn-sm" formnovalidate type="submit" name="addJabatan">Tambah Jabatan</button>
                            <!--<button class="btn btn-link btn-sm" formnovalidate type="submit" name="hapusJabatan" id = "buttonHapusJabatan">Hapus Jabatan Terakhir</button>-->
                        </div>
                </div>
            <button id="submit" name="submit" type="submit" class="btn btn-primary mb-2">Simpan</button>
        </form>
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script th:inline = "javascript">
    $(document).ready(function() {
        console.log("hi");
        $('#provinsi').change(function () {
            consol.log("masuk");
            valueProvinsi = $(this).val();
            $.ajax({
                header: {
                    Accept: "application/json"
                },
                contentType: "application/json",
                type: "GET",
                url: "/pegawai/cekInstansi",
                data: {
                    'idProvinsi': valueProvinsi
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    var obj = JSON.stringify(data);
                    var objs = JSON.parse(obj);
                    $("#instansi").remove();

                    var selectHtml = '<select class = "form-control" name = "instansi" id = "instansiAwal" required>\n'

                    var getOpt = "";
                    $.each(objs, function (i, objs) {
                        getOpt += '<option value=' + objs.id + '>' + objs.nama + ' - ' + objs.provinsi.nama + '</option>';
                    });
                    var closingSelectHtml = '</select>';
                    $("#dropdownInstansi").append(selectHtml + getOpt + closingSelectHtml);
                }
            })
        })
    });

    var countJabatan = /*[[${size}]]*/ 'default';
    $("#buttonHapusJabatan").click(function() {
        var data = $(this).val();
        $.ajax({
            headers:{
                Accept : "application/json"
            },
            contentType: "application/json",
            type : "GET",
            data : {id:data},
            url : "/pegawai/cekJabatan",
            dataType : "json",
            success: function(json){
                console.log(countJabatan);
                var jab = JSON.stringify(json);
                var jabatan = JSON.parse(jab);
                $("#jabatan" + countJabatan).remove();
                countJabatan--;
            }
        })
    });

</script>
</html>