<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Jabatan</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#delete").click(function(){
                swal ( "Jabatan ini tidak dapat dihapus!",  "Masih ada pegawai yang berjabatan ini",  "error");
            });
        });
    </script>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="col-5">
        <h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
        <div class="row">
            <label for="nama" class="col-sm-3 col-form-label-md">Nama</label>
            <div class="col-sm-9">
                <p th:text="${jabatan.nama}"></p>
            </div>
        </div>
        <div class="row">
            <label for="deskripsi" class="col-sm-3 col-form-label-md">Deskripsi</label>
            <div class="col-sm-9">
                <p th:text="${jabatan.deskripsi}"></p>
            </div>
        </div>
        <div class="row">
            <label for="gajiPokok" class="col-sm-3 col-form-label-md">Gaji Pokok</label>
            <div class="col-sm-9">
                <p th:text="${jabatan.gajiPokok}"></p>
            </div>
        </div>
        <div class="row">
            <label for="jumlahPegawai" class="col-sm-3 col-form-label-md">Jumlah Pegawai</label>
            <div class="col-sm-9">
                <p th:text="${jabatan.listPegawai.size()}"></p>
            </div>
        </div>
        <div class="row">
            <form th:action="@{/jabatan/ubah}" class="form-inline" method="GET">
                <input type="hidden" th:value="${jabatan.id}" name="idJabatan"></input>
                <button class="btn btn-alert mb-2" type="submit">Ubah</button>
            </form>
            <form th:if="${jabatan.listPegawai.isEmpty()} == true"  th:action="@{/jabatan/hapus}" class="form-inline" method="POST">
                <input type="hidden" th:value="${jabatan.id}" name="idJabatan"></input>
                <button class="btn btn-danger mb-2" type="submit">Hapus</button>
            </form>
            <div th:if="${jabatan.listPegawai.isEmpty()} == false">
                <button id="delete" class="btn btn-danger mb-2">Hapus</button>
            </div>
        </div>
    </div>
</body>
</html>